.container {
  text-align: center;
  margin-top: 10%;
}

.calculator {
  margin: auto;
  width: 25%;
  background-color: #272727;
  border-radius: 20px;
  height: 50vh;
}
.title {
  color: white;
  background-color: blue;
  text-align: start;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.3em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.inputs {
  background-color: #272727;
  margin-top: 5vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.inputs > label {
  float: left;
  margin-left: 5vh;
  margin-bottom: 10px;
  background-color: #272727;
  color: white;
}
.inputs > input {
  width: 80%;
  background-color: #3c3c3c;
  height: 5vh;
  font-size: large;
  border-radius: 10px;
  color: white;
}
.inputs > select {
  width: 80%;
  background-color: #3c3c3c;
  height: 5vh;
  font-size: large;
  border-radius: 10px;
  color: white;
}
.buttons {
  margin-top: 10px;
  background-color: #272727;
  display: flex;
  justify-content: space-evenly;
}
.buttons > .button1 {
  width: 16vh;
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
}
.buttons > .button2 {
  width: 16vh;
  background-color: #0075ff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
}
.text {
  display: flex;
  justify-content: space-around;
  background-color: #272727;
  color: white;
  vertical-align: middle;
  border-radius: 20px;
}
.text > p {
  margin-top: 5%;
  background-color: #272727;
}
.text > p:first-child {
  margin-top: 4vh;
}
.tip {
  font-size: 3em;
  margin-bottom: 20px;
  border-bottom-right-radius: 20px;
}
.alert {
  margin-left: 42%;
  position: absolute;
  color: white;
  background-color: red;
}
